{
  "Regions": [
    {
      "Area": "Document",
      "Size": "0, 0",
      "Groups": [
        {
          "Contents": [
            null,
            null,
            null
          ],
          "VisibleContent": null
        }
      ]
    },
    {
      "Area": "Left",
      "Size": "280, 931",
      "Groups": [
        {
          "Contents": [
            "DockProject"
          ],
          "VisibleContent": "DockProject"
        }
      ]
    },
    {
      "Area": "Right",
      "Size": "465, 931",
      "Groups": [
        {
          "Contents": [
            "DockProperties"
          ],
          "VisibleContent": "DockProperties"
        },
        {
          "Contents": [
            "DockLayers",
            "DockHistory"
          ],
          "VisibleContent": "DockLayers"
        }
      ]
    },
    {
      "Area": "Bottom",
      "Size": "1175, 205",
      "Groups": [
        {
          "Contents": [
            "DockConsole"
          ],
          "VisibleContent": "DockConsole"
        }
      ]
    }
  ]
}